* {
    box-sizing: border-box;
}

html, body{
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/*Top Nav Bar*/
.menuitem {
    position: relative;
    text-align: center;
    height: 100%;
    width:10%;
    float: left;
    font-size:1.0vw;
}

.menuitem span {
    position: absolute;
    width:100%;
    bottom: 0;
    left:0;
}

.menuitem-index {
    display: table-cell;
    position: relative;
    width:25%;
    height: 100%;
    float: left;
    background-color: #ffffff;
    text-align: left;
    font-size:2.5vw;
    
}

.menuitem-index span {
    position: absolute;
    bottom: -7;
    left: 0;
}

.menuitem a {
    display: block;
    color: #676767;
    text-decoration: none;
  }

.menuitem-index a {
    color: #02637A;
    text-decoration: none;
  }

.menuitem a:hover {
    font-weight: bold;
  }
 
/*Main Frames Layouts*/
/*Contain all*/
.alldiv {
    height: 100%;
    width: 100%;
}
.top {
    display: flex;
    height: 10%;
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 10px;
}

.landboxframe { 
    height: 89%;
    width: 100%;
    float: none;
    padding: 10px;
    margin-top: 0 auto;
}

/*.bottom {
    position: absolute;
    width: 100%;
    background-color: #02637A;
    bottom: 0;
}*/


/*Landing Page Layouts*/
.imageholder {
    display: flex;
    position: relative;
    text-align: center;
    height: 60%;
    width: 100%;
    background-color: #02637A;
    color: black;
    align-items: center;
}

.imageholderoverlay {
    position: absolute;
    width: 40%;
    height: 50%;    
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageholdertext {
    height:70%;
    width: 100%;
    color: #ffffff;
    font-size:2.0vw;
    font-weight: bold;
}

.imageholderbox-buttonholder {
    display: flex; 
    justify-content: center;
    width: 100%;
    height: 30%;
}

.imageholderbox-left{
    display: flex;
    background-color: #ffffff;
    color: #02637A;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-weight: 600;
    width: 30%;
    height: 50%;
    margin-right: 15;
}

.imageholderbox-right {
    display: flex;
    border: 1px solid #ffffff;
    color: #ffffff;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: 600;
    width: 30%;
    height: 50%;
    margin-left: 15;
}

.imageholderbox-right a {
    color: #ffffff;
    text-decoration: none;
}

.landbox1, .landbox2 { 
    display: flex;
    justify-content: space-between;   
    width: 80%;
    height: 40%;
    background-color: white;
    margin: 20 auto;
}

.landbox1inner-left,
.landbox1inner-middle,
.landbox1inner-right,
.landbox2inner-left,
.landbox2inner-middle,
.landbox2inner-right
{ 
    display: inline-block; 
    width: 28%;
    height: 100%;
    margin: 0 auto;
    cursor: pointer;
}

.boxstyle-t {
    height: 2%;
    width: 100%;
    background-color: #02637A;
    color: #ffffff;
}

.boxstyle-m {
    height: 18%;
    width: 100%;
    background-color: #ffffff;
    color: #333333;
    padding-top: 7px;
}

.boxstyle-b {
    height: 80%;
    width: 100%;
    background-color: #ffffff;
    color: #333333;
}



/*Discover Data Layouts*/
.left {
    width: 25%;
    height: 100%;
    background-color: #eeeeee;
    float: left;
    padding: 5;
    margin-top: 10;
}

.left-title {
    background-color: #ffffff;
    width: 100%;
    height:5%;
    color: #333333;
    text-align: center;
    font-size: 1.25vw;

    /*margin-top: 10;*/
}

.left-data {
    width: 100%;
    height: 89%;
    color: #333333;
    background-color: white;
    overflow: scroll;
}

.left-data-title {
    width: 100%;
    color: #333333;
    background-color: #ff0000;
}

.left-data-datasets {
    width: 100%;
    color: #333333;
    background-color: #ff0ff0;
}

.left-data-meta {
    width: 100%;
    color: #333333;
    background-color: #fff000;
}

.left-bottom {
    width: 100%;
    height: 2%;
    color: #333333;

    font-size: 0.75vw;
    background-color: #ffffff;
    margin-top: 10;
    bottom: 0;
}

.left-data-meta:hover {
    color: #02637A;
}

/*collapse Big Lists*/

#menu-icon-a:before,
#menu-icon-c:before,
#menu-icon-p:before {
    /*content: "Menu";*/
    float: left;
    width: 50px;
  }
  
#menu-icon-a:after,
#menu-icon-c:after,
#menu-icon-p:after {
content: "\2261";
float:left;
width: 50px;
}



.left-data-meta-coming-title ul.c {
    display: none;   
  }

.left-data-meta-avail-title ul.a {
    display: none;   
  }

.left-data-meta-progress-title ul.p {
    display: none;   
  }
  

.left-data-meta-avail-title ul.a.visible {
     display: block;   
  }

.left-data-meta-coming-title ul.c.visible{
     display: block;   
  }

.left-data-meta-progress-title ul.p.visible{
    display: block;   
 }


 /*collpase DEM DSM PointC*/

#menu-icon-e:before,
#menu-icon-s:before,
#menu-icon-c:before {
    /*content: "Menu";*/
    float: left;
    width: 50px;
  }
  
#menu-icon-e:after,
#menu-icon-s:after,
#menu-icon-c:after {
content: "\2261";
float:left;
width: 50px;
}

.left-data-datasets-DEM-title ul.e {
    display: none;   
  }

.left-data-datasets-DEM-title ul.s {
    display: none;   
  }

.left-data-datasets-DEM-title ul.c {
    display: none;   
  }
  

.left-data-datasets-DEM-title ul.e.visible {
     display: block;   
  }

.left-data-datasets-DEM-title ul.s.visible{
     display: block;   
  }

.left-data-datasets-DEM-title ul.c.visible{
    display: block;   
 }


/*Build Map*/
#map {
    width: 74%;
    height: 100%;
    background-color: #02637A;
    float: right;
    padding:10px;
    right:0;
    margin-top: 10;
}


.popUpText {
    color: #222222;
  }