* {
    box-sizing: border-box;
}

html, body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

hr {
    width: 80%;
    margin-top: 20;
    margin-bottom: 20;
}

/*Top Nav Bar*/
.menuitem {
    position: relative;
    text-align: center;
    height: 100%;
    width:10%;
    float: left;
    font-size:large;
}

.menuitem span {
    position: absolute;
    width:100%;
    bottom: 0;
    left:0;
}

.menuitem-index {
    display: table-cell;
    position: relative;
    width:25%;
    height: 100%;
    float: left;
    background-color: #ffffff;
    text-align: left;
    font-size:xx-large;
    
}

.menuitem-index span {
    position: absolute;
    bottom: -7;
    left: 0;
}

.menuitem a {
    display: block;
    color: #676767;
    text-decoration: none;
  }

.menuitem-index a {
    color: #02637A;
    text-decoration: none;
  }

.menuitem a:hover {
    font-weight: bold;
  }
 
/*Main Frames Layouts*/
/*Contain all*/
.alldiv {
    width: 100%;
    height: 100%;
}
.top {
    display: flex;
    height: 10%;
    width: 100%;
    margin-bottom: 5;
    float: left;
}

.landboxframe { 
    float: left;
    height: 85%;
    width: 100%;
}

.bottom {
    float: left;
    display: flex;
    align-items: center;
    height: 4%;
    width: 100%;
    background-color: #02637A;
    margin-top: 5;
}

.bottomText {
    color: #eeeeee;
    text-align: center;
    width: 60%;
    margin: auto; 
    font-size: small;
}


/*Landing Page Layouts*/
.imageholder {
    display: flex;
    position: relative;
    text-align: center;
    height: 60%;
    width: 100%;
    background-color: #02637A;
    color: black;
    align-items: center;
}

.imageholderoverlay {
    position: absolute;
    width: 40%;
    height: 50%;    
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageholdertext {
    height:70%;
    width: 100%;
    color: #ffffff;
    font-size:2.0vw;
    font-weight: bold;
}

.imageholderbox-buttonholder {
    display: flex; 
    justify-content: center;
    width: 100%;
    height: 30%;
}

.imageholderbox-left{
    display: flex;
    background-color: #ffffff;
    color: #02637A;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-weight: 600;
    width: 30%;
    height: 50%;
    margin-right: 15;
}

.imageholderbox-right {
    display: flex;
    border: 1px solid #ffffff;
    color: #ffffff;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: 600;
    width: 30%;
    height: 50%;
    margin-left: 15;
}

.imageholderbox-right a {
    color: #ffffff;
    text-decoration: none;
}

.landbox1, .landbox2 { 
    display: flex;
    justify-content: space-between;   
    width: 80%;
    height: 40%;
    background-color: white;
    margin: 20 auto;
}

.landbox1inner-left,
.landbox1inner-middle,
.landbox1inner-right,
.landbox2inner-left,
.landbox2inner-middle,
.landbox2inner-right
{ 
    display: inline-block; 
    width: 28%;
    height: 100%;
    margin: 0 auto;
    cursor: pointer;
}

.boxstyle-t {
    height: 2%;
    width: 100%;
    background-color: #02637A;
    color: #ffffff;
}

.boxstyle-m {
    height: 18%;
    width: 100%;
    background-color: #ffffff;
    color: #333333;
    padding-top: 7px;
}

.boxstyle-b {
    height: 80%;
    width: 100%;
    background-color: #ffffff;
    color: #333333;
}



/*Discover Data Layouts*/


.left {
    width: 25%;
    height: 100%;
    float: left;
    padding: 5;
    align-items: center;
    overflow: scroll;
}

.left-title {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 95%;
    height:10%;
    margin: auto;
}

.titleText{
    background-color: #ffffff;
    color: #555555;
    text-align: center;
    font-weight: 500;
    font-size: x-large;
    margin: auto;
}

.left-data {
    width: 95%;
    color: #555555;
    background-color: white;
    margin: auto;
    padding: 20;
}

.left-data-info {
    width: 95%;
    color: #555555;
    background-color: white;
    margin: auto;
}

.left-data-lists {
    width: 95%;
    color: #555555;
    background-color: white;
    margin: auto;
}

.left-data-title {
    width: 95%;
    color: #555555;
    text-align: center;
    font-weight: 500;
    font-size: large;
    /*background-color: #ff0000;*/
    margin: auto;
}

.left-data-intro,
.left-data-intro-too {
    width: 95%;
    color: #555555;
    /*background-color: #ff0000;*/
    margin: auto;
    margin-bottom: 10;
}

.left-data-intro-too {
    font-weight: 550;
}

.left-data-datasets {
    width: 95%;
    color: #555555;
    margin: auto;
}

.left-data-meta {
    width: 95%;
    color: #555555;
    font-weight: 500;
    margin: auto;
    margin-top: 10;
}

.left-bottom {
    width: 75%;
    color: #555555;
    background-color: #ffffff;
    margin: auto;
    margin-top: 10;
    display: flex;
    flex-direction: column;
    padding: 5;
    border: 1px solid #555555;
}

.midtext {
    margin-bottom: 5;
    margin-top: 5;
    text-align: center;
    font-weight: 500;
}

.left-data-meta-avail,
.left-data-meta-coming,
.left-data-meta-progress {
    display: inline-block;
    width: 100%;
}

.left-data-meta-avail-title,
.left-data-meta-coming-title,
.left-data-meta-progress-title {    
    float: left;
}

#iconE,
#iconS,
#iconPC,
#iconA,
#iconC,
#iconP {
    float: left;
    margin-right: 10;
}


/*legend color*/

.legend-at
{
    display: inline-block;
    background-color: #cc3366;
    height: 12;
    width: 12;
    margin-right: 3;
    margin-left: 3;
}

.legend-cs
{
    display: inline-block;
    background-color: #66cccc;
    height: 12;
    width: 12;
    margin-right: 3;
    margin-left: 3;
}

.legend-ip
{
    display: inline-block;
    background-color: #996699;
    height: 12;
    width: 12;
    margin-right: 3;
    margin-left: 3;
}

span {
    display: inline-block;
}

.avail {
    float: left;
}

/* pop ups!*/

/*.popupBox {
    background-color: #ff0000;
}*/

/*.leaflet-popup-tip {
    display:none;
}*/

.leaflet-popup-content-wrapper  .leaflet-popup-content { 
    width: auto;
    /*background-color: #00ff00;*/
    white-space: nowrap;
}

.select {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5;
    margin-top: 5;
    /*background-color: #ff0000;*/
}

.popupwrapper {
    white-space: nowrap;
}

.popupText {
    width: auto;
    color: #555555;
    margin-top: 3;
    margin-bottom: 3;
    /*background-color: #0ff;*/
}

.popupTextTitle {
    width: auto;
    margin-bottom: 5;
    /*background-color: #0f0f0f;*/
    font-size: large;
    text-align: center;
    color: #555555;
    font-weight: 550;
  }

  .popupTextType {
    /*background-color: #f0f0f0;*/
    text-align: center;
    font-style: italic;
    font-size: small;
    margin-bottom: 5;
    color: #555555;
  }

/*.popupText:hover {
    color: #aaaaaa;
}*/

/*collapse Big Lists*/


#menu-icon-a:before,
#menu-icon-cs:before,
#menu-icon-p:before {
    content: "\25B6";
    float: left;
    margin-right: 10;
  }
  
ul {

    list-style: none;
}

ul .name:before {

    content: "\002D";
    margin-right: 6;
}

.left-data-meta-coming-title ul.cs {
    display: none;   
  }

.left-data-meta-avail-title ul.at {
    display: none;   
  }

.left-data-meta-progress-title ul.p {
    display: none;   
  }
  

.left-data-meta-avail-title ul.at.visible {
     display: block;
     max-height: 300px;
     overflow: auto;
     background-color: #eeeeee
  }

.left-data-meta-coming-title ul.cs.visible{
     display: block;   
  }

.left-data-meta-progress-title ul.p.visible{
    display: block;   
 }





 /*collpase DEM DSM PointC*/

#menu-icon-e:before,
#menu-icon-s:before,
#menu-icon-c:before {
    content: "\25B6";
    float: left;
    margin-right: 10;
  }
  


.left-data-datasets-DEM-title ul.e {
    display: none;   
  }

.left-data-datasets-DSM-title ul.s {
    display: none;   
  }

.left-data-datasets-PointC-title ul.c {
    display: none;   
  }
  

.left-data-datasets-DEM-title ul.e.visible {
     display: block;   
  }

.left-data-datasets-DSM-title ul.s.visible{
     display: block;   
  }

.left-data-datasets-PointC-title ul.c.visible{
    display: block;   
 }


/*Build Map*/
#map {
    width: 74%;
    height: 100%;
    background-color: #02637A;
    float: right;
}


